// @import "../../../../style/color";

* {
   box-sizing: border-box;
}

li {
   list-style: none;
}
.list-group-item,
.list-group-item-action {
   height: 47px;
}

span.list-group-item:not(.active) {
   border: none !important;
   //outline: 1px solid $dark;
}

span.list-group-item.active {
   border: none !important;
   //outline: 1px solid $dark;
}

li.list-group-item.list-group-item-action {
   border: none !important;
   //outline: 1px solid darken($background-color, 10%);
}

ul.tree-view {
   list-style: none;
   position: relative;
   margin: 0;
}

li:last-child > .line {
   height: 25px !important;
   background-color: #6610f2;
}

ul.tree-view.nested.show li:last-child > .line {
   height: 25px !important;
}

.nested {
   display: none !important;
}

.hide {
   display: none !important;
}

.show {
   display: block !important;
}
